@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700);

* {
  box-sizing: border-box;
  font-family: 'Amatic SC', cursive;
  color: #ffffff;
  background-color: #001e43;
}

#app {
  max-width: 640px;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  border-bottom: double 3px #ffff38; /*#d31c4a */
  color: #ffff38;
}

th,th {
  padding: 0 8px;
  line-height: 40px;
}

thead th.id {
  width: 50px;
}

thead th.state {
  width: 100px;
}

thead th.button {
  width: 60px;
}

tbody td.button, tbody td.state {
  text-align: center;
}

tbody tr td,tbody tr th {
  border-bottom: 1px solid #ccc;
  transition: all 0.4s;
}

tbody tr.done td,tbody tr.done th {
  background: #f8f8f8;
  color: #bbb;
}

tbody tr:hover td,tbody tr:hover th {
  background: #222299;
}

button {
  border: none;
  border-radius: 20px;
  line-height: 24px;
  padding: 0 8px;
  background: #ffff38;
  color: #001e43;
  cursor: pointer;
}

button:hover {
  opacity: 0.6;
}
