<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Vue.js App</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

  <div id="app">
    <h1>ToDoList</h1>

    <label v-for="label in options" >
      <input type="radio"
        v-model="current"
        v-bind:value="label.value">{{ label.label }}
    </label>

    （{{ computedTodos.length }}/{{ todos.length }}）

    <table>
      <thead v-pre>
        <tr>
          <th class="id">ID</th>
          <th class="comment">comment</th>
          <th class="state">state</th>
          <th class="button">-</th>
        </tr>
      </thead>
      <tbody>

        <tr
          v-for="item in computedTodos"
          v-bind:key="item.id"
          v-bind:class="{done:item.state}">
          <th>{{ item.id }}</th>
          <td>{{ item.comment }}</td>
          <td class="state">

            <button v-on:click="doChangeState(item)">
              {{ labels[item.state] }}
            </button>
          </td>
          <td class="button">

            <button v-on:click.ctrl="doRemove(item)">
              delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <p>※deleteはCtrlキーを押しながらクリックして下さい</p>


    <h2>newToDo</h2>
    <form class="add-form" v-on:submit.prevent="doAdd">
      comment <input type="text" ref="comment">
      <button type="submit">add</button>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="js/main.js"></script>
</body>
</html>
